---
layout: default
title: Chanbara
permalink: /work/chanbara/
order: 3
---
{% include base.html %}
{% include localnav.html %}
<section class="section">
  <div class="section-content">
    <header class="section-header-image">
      <img class="header-image" src="{{ relurl }}images/work/chanbara/chanbara_header.png" alt="Chanbara">
    </header>
  </div>
</section>
<section class="section">
  <div class="section-content">
    <div class="work-copy">
      <h3>Chanbara Poster and Brochure</h3>
      <p>A unique challenge to create a poster, yet at the same time, can be folded down into a brochure and used practically. Many design obstacles were faced to achieve this balance, and countless more prototypes needed to be produced to get it right.</p>
    </div>
  </div>
</section>
<section class="section gray">
  <div class="section-content">
    <div class="work-copy">
      <h3>Research</h3>
      <p>To create a poster regarding old Japanese samurai films, one must experience them first. I watched 2 of the most critically aclaimed films on the list, and looked into the many intricacies surrounding Japanese samurai culture.</p>
    </div>
    <div class="work-image">
      <img src="{{ relurl }}images/work/chanbara/chanbara_film.jpg" alt="Film Screenshot">
    </div>
  </div>
</section>
<section class="section">
  <div class="section-content">
  </div>
</section>
