---
layout: default
title: Hitbox
permalink: /work/hitbox/
order: 1
---
{% include base.html %}
{% include localnav.html %}
<section class="section">
  <div class="section-content">
    <header class="section-header-image">
      <img class="header-image" src="{{ relurl }}images/work/hitbox/hitbox_header.png" alt="Hitbox">
    </header>
  </div>
</section>
<section class="section">
  <div class="section-content">
    <div class="work-copy">
      <h3>Hitbox Magazine</h3>
      <p>Prototype magazine based off the idea of introducing eSports, specifically Counter Strike, to the masses.</p>
    </div>
  </div>
</section>
<section class="section gray">
  <div class="section-content">
    <div class="work-copy">
      <h3>Design Ideology</h3>
      <p>In order to bring the digital experience into a novel physical magazine issue, the dimensions, grid and layout were carefully considered to show as much content as possible, while still maintaining visual clarity.</p>
    </div>
    <div class="work-image">
      <img src="{{ relurl }}images/work/hitbox/hitbox_design.png" alt="Hitbox Placeholder">
    </div>
  </div>
</section>
<section class="section">
  <div class="section-content">
  </div>
</section>
