---
layout: default
title: Polymath
permalink: /work/polymath/
order: 5
---
{% include base.html %}
{% include localnav.html %}
<section class="section">
  <div class="section-content">
    <header class="section-header-image">
      <img class="header-image" src="{{ relurl }}images/work/polymath/polymath_header.png" alt="Polymath">
    </header>
  </div>
</section>
<section class="section">
  <div class="section-content">
    <div class="work-copy">
      <h3>Polymath Lettering</h3>
      <p>An excercise under the instruction of Nils Lindstorm, ArtCenter College of Design. Creating an elegant, and beautiful logotype utilizing the craft of hand lettering.</p>
    </div>
  </div>
</section>
<section class="section gray">
  <div class="section-content">
    <div class="work-copy">
      <h3>Initial Sketches</h3>
      <p>Spanning the course of 3 weeks, various sketches and revisions were made, each with increasing level of detail to prepare for final digitalization.</p>
    </div>
    <div class="work-image">
      <img src="{{ relurl }}images/work/polymath/polymath_sketch.jpg" alt="Polymath Sketch">
    </div>
  </div>
</section>
<section class="section">
  <div class="section-content">
    <div class="work-copy">
      <h3>Digitization</h3>
      <p>Through scanning, I was able to obtain a crisp copy of the design, and continued onward to recreate the entire design again in Illustrator.</p>
    </div>
    <div class="section-content">
      <header class="section-header-image">
        <img class="header-image" src="{{ relurl }}images/work/polymath/polymath_vector.png" alt="Polymath">
      </header>
    </div>
  </div>
</section>
