---
layout: default
title: Work
permalink: /work/
---
{% include base.html %}
{% include worknav.html %}
<div id="work-gallery" class="section">
  <div class="work-content section-start section-end">
    <div class="work-item type">
      <a href="hitbox/"><img class="image-thumbs" alt="640x360" src="{{ relurl }}images/work/hitbox_thumb.png"></a>
    </div>
    <div class="work-item brand ixd">
      <a href="jameschu/"><img class="image-thumbs" alt="640x360" src="{{ relurl }}images/work/james_thumb.png"></a>
    </div>
    <div class="work-item type">
      <a href="chanbara/"><img class="image-thumbs" alt="640x360" src="{{ relurl }}images/work/chanbara_thumb.png"></a>
    </div>
    <div class="work-item brand">
      <a href="lootcrate/"><img class="image-thumbs" alt="640x360" src="{{ relurl }}images/work/lootcrate_thumb.png"></a>
    </div>
    <div class="work-item ixd">
      <a href="{{ relurl }}construction/"><img class="image-thumbs" alt="640x360" src="{{ relurl }}images/work/ixd_da.png"></a>
    </div>
    <div class="work-item type">
      <a href="polymath/"><img class="image-thumbs" alt="640x360" src="{{ relurl }}images/work/polymath_thumb.png"></a>
    </div>
  </div>
</div>
