{% include svg.html %}
<input type="checkbox" id="nav-trigger" class="nav-trigger" />
<header id="main-header">
  <nav id="main-nav" role="navigation">
    <ul class="nav-header">
        <li><a href="/">
            <svg class="svg-logo">
              <use xlink:href="#svg-logo"></use>
            </svg></a>
        </li>
        <li>
          <label for="nav-trigger"></label>
        </li>
    </ul>

    <ul class="nav-lists">
      {% for item in site.data.nav_items %}
        <li><a href="{{ item.url }}">
          <svg class="{{ item.svg }}">
            <use xlink:href="#{{ item.svg }}"></use>
          </svg></a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>
