{% include svg.html %}
<input type="checkbox" id="nav-trigger" class="nav-trigger" />
<header class="main-header">
  <nav class="main-nav">
    <ul class="nav-header">
        <li class="nav-header-content"><a href="{{ relurl }}">
            <svg class="svg-logo">
              <use xlink:href="#svg-logo"></use>
            </svg></a>
        </li>
        <li class="nav-header-content">
          <label for="nav-trigger">
            <span class="nav-bread">
              <span class="nav-bun nav-bread-top"></span>
            </span>
            <span class="nav-bread">
              <span class="nav-bun nav-bread-btm"></span>
            </span>
          </label>
        </li>
    </ul>

    <!-- <div class="nav-lists-container">
      <div class="nav-lists-content">

      </div>
      {% for item in site.data.nav_items %}
        <div class="nav-lists-content"><a href="{{ relurl }}{{ item.url }}">
          <svg class="{{ item.svg }}">
            <use xlink:href="#{{ item.svg }}"></use>
          </svg></a>
        </div>
      {% endfor %}
    </div> -->
    <ul class="nav-lists">
      <li class="nav-lists-content"><a href="{{ relurl }}">
          <svg class="svg-logo">
            <use xlink:href="#svg-logo"></use>
          </svg></a>
      </li>
      {% for item in site.data.nav_items %}
        <li class="nav-lists-content"><a href="{{ relurl }}{{ item.url }}">
          <svg class="{{ item.svg }}">
            <use xlink:href="#{{ item.svg }}"></use>
          </svg></a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>
