{% include svg.html %}
<input type="checkbox" id="nav-trigger" class="nav-trigger" />
<header class="main-header">
  <nav class="main-nav">
    <ul class="nav-header">
        <li class="nav-header-content"><a href="{{ relurl }}">
            <svg class="svg-logo">
              <use xlink:href="#svg-logo"></use>
            </svg></a>
        </li>
        <li>
          <label for="nav-trigger">
            <span class="nav-bread">
              <span class="nav-bun nav-bread-top"></span>
            </span>

            <span class="nav-bread">
              <span class="nav-bun nav-bread-btm"></span>
            </span>
          </label>
        </li>
    </ul>

    <ul class="nav-lists">
      {% for item in site.data.nav_items %}
        <li  class="nav-lists-content"><a href="{{ relurl }}{{ item.url }}">
          <svg class="{{ item.svg }}">
            <use xlink:href="#{{ item.svg }}"></use>
          </svg></a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>
