.jc-gn-menustate {
  position: absolute;
  display: none;
  clip: rect(0, 0, 0, 0);
  &:checked ~ .page-wrapper {
    top: rem-calc(100);
    transition: top ease-out 0.3s;
  }
}
#jc-globalnav {
  background-color: $black;
  height: rem-calc(48);
  z-index: 5;
  @include breakpoint(medium) {
    @include grid-row;
  }
  .jc-gn {
    &-header {
      width: 100%;
      height: rem-calc(48);
      @include breakpoint(medium) {
        width: auto;
        @include grid-column(2);
      }
    }
    &-james {
      fill: $light-gray;
      height: rem-calc(48);
      width: 100%;
      @include breakpoint(medium) {
        width: rem-calc(100);
      }
    }
    &-about, &-work {
      @extend .jc-gn-james;
      @include breakpoint(medium) {
        width: rem-calc(56);
        margin-left: rem-calc(16);
        display: inline;
      }
    }
    &-lists{
      background-color: $black;
      position: absolute;
      top: rem-calc(48);
      width: 100%;
      height: rem-calc(100);
      z-index: 0;
      @include breakpoint(medium) {
        background-color: transparent;
        position: static;
        width: auto;
        text-align: right;
        height: rem-calc(48);
        @include grid-column(5);
      }
    }
    &-menuicon {
      @include show-for-only(small);
    }
    &-bread {
      height: 3rem;
      width: 3rem;
      position: absolute;
      right: 0;
      top: 0;
    }

    &-bun {
      background: $white;
      position: absolute;
      width: 1.2rem;
      height: 1px;
      right: rem-calc(16);
    }

    &-bread-top {
      top: 1.25rem;
    }
    &-bread-btm {
      bottom: 1.25rem;
    }
    label[for="&-menustate"] {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        margin-left: -1.5rem;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        @include breakpoint(medium) {
          display: none;
          clip: rect(0, 0, 0, 0);
        }
    }
  }
}

.subnav-header {
  height: 2.5rem;
  background-color: $light-gray;
  .subnav-container {
    @include grid-row;
    height: 100%;
  }
  .subnav-content {
    @include grid-column(12);
    display: flex;
    padding: 0 1rem;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    @include breakpoint(medium) {
      @include grid-column(6);
      @include grid-column-position(center);
    }
    @include breakpoint(large) {
      @include grid-column(5);
      @include grid-column-position(center);
    }
  }

  .subnav-item, a:link, a:visited {
    text-transform: lowercase;
    font-size: 1.2rem;
    color: $primary-color;
    a:hover, a:active {
      opacity: 60%;
    }
  }
}
