.main-nav {
  background-color: $black;
  height: 3rem;
  z-index: 1;
  .nav-header, .nav-header-content {
    height:100%;
  }
  a {
    padding: 1.18rem 0;
    .svg-logo {
      height: 1.7rem;
      width: 7.4rem;
      margin: 0.65rem;
    }
  }
  .nav-lists{
    background-color: $black;
    position: absolute;
    top: 3rem;
    width: 100%;
    height: 7.3rem;
    z-index: 0;

    .svg-nav-about,
    .svg-nav-work {
      height: 1.2rem;
      width: 100%;
      margin: 1rem 0;
    }
  }
}

.nav-trigger {
  position: absolute;
  display: none;
  clip: rect(0, 0, 0, 0);
  &:checked ~ .page-wrapper {
    top: 7.3rem;
    transition: top ease-out 0.3s;
  }
}

label[for="nav-trigger"] {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    margin-left: -1.5rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    background: red;
}

.subnav-header {
  height: 2.5rem;
  .subnav-content {
    display: flex;
    padding: 0 1rem;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .subnav-item, a:link, a:visited {
    text-transform: lowercase;
    font-size: 1.2rem;
    color: $primary;
    a:hover, a:active {
      opacity: 60%;
    }
  }
}
