@mixin copy-layout {
  @include grid-column(10);
  @include grid-column-position(center);
  @include breakpoint(medium) {
    @include grid-column(5);
    @include grid-column-position(center);
  }
}

.page-wrapper {
  background-color: $black;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  transition: top 0.2s;
  min-height: 8rem;
}

.page-content {
  background-color: $white;
}

.main-footer {
  background-color: $black;
  height: 2rem;
  .footer-content {
    padding: 0.4rem 0;
  }
}

.hero-section {
  background-color: $light-gray;
  padding: rem-calc(70) 0;
  .hero-container {
    @include grid-row;
  }
  .hero-copy {
    @include copy-layout;
  }
}

.recent-section {
  background-color: $white;
  @include grid-row;
  .recent-items {
    width: 100%;

  }
}
.recent-content {
  @include breakpoint(large) {
    @include breakpoint(medium) {
      @include grid-column(6, 0);
      padding-bottom: rem-calc(150);
    }
  }
}
.section {
  background-color: $white;
  .section-content {
    @include grid-row;
  }
  .section-header-image {
    @include breakpoint(medium) {
      margin-top: rem-calc(50);
    }
    .header-image {
      width: 100%;
      @include breakpoint(large) {
        @include grid-column(12);
      }
    }
  }
  .work-copy {
    @include copy-layout;
    padding: 3.5rem 0;
  }
  .work-image {
    img {
      width: 100%;
    }
  }
}
.gray {
  background-color: $light-gray;
  width: 100%;
  .work-copy {
    @include breakpoint(medium) {
      @include grid-column(4);
      @include grid-column-offset(1);
      padding: rem-calc(100) 0;
      @include breakpoint(large) {
        @include grid-column(3);
        @include grid-column-offset(1);
        padding: rem-calc(200) 0;
      }
    }
  }
  .work-image {
    @include breakpoint(medium) {
      @include grid-column(6,0);
      @include breakpoint(large) {
        @include grid-column(6);
      }
    }
  }
}

.about-copy {
  @include copy-layout;
  padding: 3.5rem 0;
  @include breakpoint(large) {
    @include grid-column(4);
    @include grid-column-offset(1);
    padding: rem-calc(140) 0;
  }
}

.about-contact {
  padding: 0 rem-calc(16) 3.5rem;
  @include breakpoint(large) {
    @include grid-column(6);
    padding: rem-calc(100) 0;
  }
}

.recent-copy {
  @include copy-layout;
  padding: 3.5rem 0;
}

#work-grid {
  .work-content {
    @include grid-row;
    @include breakpoint(large) {

      padding: 5rem 0;
    }
  }
  .work-item {
    margin: 0;
    display: none;
    img {
      width: 100%;
    }
    @include breakpoint(medium) {
      @include grid-column(6, 0);
    }
    @include breakpoint(large) {
      @include grid-column(4, 0);
    }
    a:hover {
      opacity: 0.6;
    }
  }
}
