.page-wrapper {
  background-color: $black;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  transition: top 0.2s;
}

.page-content {
  background-color: $white;
  min-height: 8rem;
}

.main-footer {
  background-color: $black;
  height: 2rem;
  .footer-content {
    padding: 0.4rem 0;
  }
}

.hero-section {
  background-color: $light-gray;
  padding: rem-calc(70) 0;
  .hero-container {
    @include grid-row;
  }
  .hero-content {
    @include grid-column(11);
    @include grid-column-position(center);
  }
}

.recent-section {
  background-color: $white;
  .recent-items {
    width: 100%;
  }
}
.section {
  background-color: $white;
  @include grid-row;
}

.about-copy {
  @include grid-column(10);
  @include grid-column-position(center);
  padding: 3.5rem 0;
}

.about-contact {
  padding: 0 rem-calc(16) 3.5rem;
}

.work-copy {
  @include grid-column(10);
  @include grid-column-position(center);
  padding: 3.5rem 0;
}

.work-image {
  img {
    width: 100%;
  }
}

.section-header-image {
  .header-image {
    width: 100%;
  }
}
.gray {
  background-color: $light-gray;
}

#work-grid {
  .work-item {
    margin: 0;
    display: none;
    img {
      width: 100%;
    }
  }
}
