.page-wrapper {
  background-color: $black;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  transition: top 0.2s;
}

.page-content {
  background-color: white;
  min-height: 8rem;
}

.main-footer {
  background-color: $black;
  height: 2rem;
  .footer-content {
    padding: 0.4rem 0;
  }
}

.hero-section {
  background-color: $light-gray;
  padding: 5rem 0;
  .hero-container {
    @include container();
    @include clearfix();
  }
  .hero-content {
    @include column(10, 1);
  }
}

.recent-section {
  background-color: white;
  .recent-items {
    width: 100%;
  }
}

.section {
  background-color: white;
  .section-container {
    @include container();
    @include clearfix();
  }
  .hero-image {
    width: 100%;
  }
  .section-content {
    @include column(10);
    @include push(1);
    padding: 3.5rem 0;
    .section-contact {
      padding: 2rem 0;
    }
  }
}

.section-gray {
  background-color: $light-gray;
  .section-highlight {
    @include container();
    @include clearfix();
  }
  .section-highlight-text {
    @include column(10);
    @include push(1);
  }
  .section-highlight-image {
  }
  .highlight-image {
    width: 100%;
  }
}
#work-grid {
  .work-item {
    margin: 0;
    display: none;
    img {
      width: 100%;
    }
  }
}
