body,
html {
  font-family: 'FF Kievit', sans-serif;
  font-weight: 300;
  text-align: center;
  color: $primary-color;
}
h1 {
  font-weight: 100;
  font-size: rem-calc(25);
  line-height: rem-calc(25);
  margin-bottom: rem-calc(5);
  @include breakpoint(medium) {
    font-size: rem-calc(26);
    line-height: rem-calc(28);
    margin-bottom: rem-calc(5);
  }
}
h2 {
  font-weight: 100;
  font-size: 1.1rem;
  line-height: 1.5rem;
}
h3 {
  font-weight: 100;
  font-size: rem-calc(28);
  line-height: rem-calc(30);
  padding-bottom: rem-calc(10);
  @include breakpoint(medium) {
    font-size: rem-calc(32);
    line-height: rem-calc(34);
    margin-bottom: rem-calc(5);
  }
}
p {
  font-weight: 300;
  font-size: rem-calc(18);
  line-height: rem-calc(24);
  @include breakpoint(medium) {
    font-weight: 100;
    font-size: rem-calc(22);
    line-height: rem-calc(26);
  }
}
.hero-subheadline {
  font-size: rem-calc(20);
  line-height: rem-calc(25);
  @include breakpoint(medium) {
    font-weight: 100;
    font-size: rem-calc(22);
    line-height: rem-calc(27);
  }
}
a:link a:visited {
  color: $primary-color;
}
a:hover {
  opacity: 0.6;
}
.active {
  opacity: 0.6;
}
.copyright {
  font-size: 0.8rem;
  color: $dark-gray;
}
input[type=text] {
  height: 2.5rem;
  margin: 0.5rem 0;
  padding: 0 1rem;
  font-size: 1rem;
  border: 1px solid $primary-color;
}
textarea {
  height: 8rem;
  margin: 0.5rem 0;
  padding: 0.5rem 0.93rem;
  font-size: 1rem;
  border: 1px solid $primary-color;
  border-radius: 0;
  -webkit-appearance: none;
}
.contact-submit {
  background: $black;
  margin-top: 0.5rem;
  width: 10rem;
  height: 2.5rem;
  color: $light-gray;
  font-size: 1rem;
}
.contact-textarea,
.contact-textbox {
  width: 100%;
}
