html, body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 62.5%;
  text-align: center;
  color: $primary;
}

h1 {
  font-weight: 100;
  font-size: 1.7rem;
  line-height: 2.2rem;
}

h2 {
  font-weight: 100;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.copyright {
  font-size: 0.8rem;
  color: $primary;
}
